.l2{
    width: 120px;
    height: 150px;
    border-radius: 9px;
    margin-top: -5px;
    margin-left: 60px;
    clip-path: circle();
    
}
.lastContainer{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    background-color:#f8f5ff;
    width: 280px;
    height: 220px;
    padding-bottom: 90px;
    border-radius: 10px;
}
strong{
    margin-left: 60px;
}
h5{
    margin-left: 60px;
    margin-top: -2px;
    color: rgb(85, 83, 83);
}

@media screen and (max-width:640px){
    .lastContainer{
        margin-bottom: 40px;
        justify-content: center;
    }
}